<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.fjl.common.dao.BlogTagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="pers.fjl.common.po.BlogTag">
        <id column="blog_id" property="blogId" />
        <result column="tag_id" property="tagId" />
    </resultMap>

</mapper>
